
/*
#####################
# UTILIDADES
#####################
*/
.bw-glyphicon-large {
	font-size: 18px;
}

/* Adiciona o * nos campos obrigatórios, depois do conteúdo do label
  que tem control-label. */
.bw-required > .control-label:after {
	content: "*"
}

/*
#####################
# COMPONENTES
#####################
*/

/* Field Action */
.bw-field-action {
	display: flex;
}

.bw-field-action__icon {
	margin: 6px 0 0 5px;
}